# Created by venv; see https://docs.python.org/3/library/venv.html
venv
pyvenv.cfg
.DS_Store
__pycache__/
secrets.ini
.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch